* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: sans-serif;
    overflow: hidden;
}

body {
    padding-top: 8vh;
    background-color: #000;
}

.container {
    margin: auto;
    height: 90vh;
    width: 350px;
    display: grid;
    border: 5px solid #BAD7E9;
}

.img-container {
    background: url(cart.png) center /cover no-repeat;
    max-width: 100%;
    height: 80vh;
}

.nav-container {
    width: 350px;
}

.nav {
    /* height: 10vh; */
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
    background-color: #ffffff;
    display: flex;
    padding: 10px 16px;
}

.nav-link {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
    color: #444444;
    transition: background-color 0.1s ease-in-out;
    margin: 0 15px;
}

.nav-link:hover {
    color: #009576;
}

.nav-link .nav-text {
    font-size: 16px;
    padding: 2px 0;
}

.img-icon {
    height: 24px;
    width: 25px
}